/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a{
    color:black;
    text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Fin RESET */

header{
}
.logo{
   display: block;
   width: 20%;
   max-width: 250px;
   min-width: 150px;
   margin-bottom: 3rem;
}


.mainmenu ul li a{
    display:block;
    padding: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #2a2e2d

}

.mainaside{
    min-width: 300px;
    float:left;
    height: 1000px;
}

.mainmenu ul li a:hover{

    font-size: 1.2rem;
    margin-left: 0.5rem;
    color: #887f41
        
}

main{
    margin-top: 4rem;
    margin-left: 5rem;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 3px;
    line-height : 25px;
}

.p2{
    margin-top:3rem;
}

.p2::first-letter{
    margin-top:3rem;
    font-size: 2rem;
}

.p3{
    margin-top: 1.5rem;
}
